body {
    font-family: 'VT323', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to left, #e84393, #0984e3);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h1, h2 {
    padding: 20px;
    text-transform: uppercase;
}

p {
    font-size: 36px;
}

.wrap {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}

input {
    /* Set border: 0; background: none; for the flat input look */
    border: 0;
    background: none;
    height: 80px;
    width: 160px;
}